html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




.header { 
    height: 100%; 
    justify-content: space-between;
}

/*header dalis*/
.headerBackground{background-image: url(../images/home_photo.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}
.fonas {
    height: 55em;				
}

/*iphone*/
/*.header div:"firstchild" {position: relative;}*/
.iphone {
    position: absolute;
    top: 10em;
    right: 2.2em;
    width: 550px;
    height: 730px;
    overflow: hidden;
}




.logoTake {
    padding-top: 5%;
    padding-left: 10%;
	color: white;	
	font-family: 'Merriweather', serif;	
}

.skelti div:first-child {
    font-size: 1.4em;
}
.mazas {
    padding-top: 23em;
    color: white;
    padding-left: 13%;
    max-width: 550px;
}


.mazas {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 100em; 
}

.antras {
    font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: flex-end;
	padding-bottom: 30px;
	padding-top: 70px;	
}

.antras div {
    padding-left: 1em;	
}
/*5 langai*/
.langeliai {
    list-style-type: none;
    margin: 0;
   	padding: 0;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;	
}

.vienas {
    background-color: #f5989d;
    width:400px;
    height: 180px;
    font-size: 11px;
    color: white;	
}

.du {
    background-color: #615f7d;
 	width: 400px;
	height: 180px;
	font-size: 11px;
	color: white;	
}


.langeliai a {
    color: white; 
}
.centravimas {
    padding-left: 15px;
}

.langeliai a:hover {
    color: #ffbaba; 
}

.tris {	
    background-image: url(../images/ourclients1.jpg);
 	background-size: cover;
 	width: 400px;
	height: 180px;
	font-size: 11px;
	color: white; 
}

.keturi {
    background-image: url(../images/longer2.jpg);
 	background-size: cover;
 	width: 800px;
	height: 180px;
	font-size: 11px;
	color: white;	 
}

.penki {
    background-color: #82ca9c;
 	width: 400px;
	height: 180px;
	font-size: 11px;
	color: white;	 
}

.langeliai2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;	
}

.langeliai2 a {
    color: white;	
}

.langeliai2 a:hover {
    color: #ffbaba;	 
}
.container2 {
    padding: 35px;
            max-width: 1200px; 
}
.langeliai3 {
    list-style-type: none;
    padding-top: 15px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    padding-bottom: 2em;	
}
.langeliaiVisi {
    padding-top: 30px;
}
.langeliai3 div {
    padding-left: 1em;		
}

/*valties dalis*/
.boat {
    background-image: url(../images/boat.jpg);
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 1); 
	padding: 10%;
	background-size: cover;
	color:white;
	font-family: 'Open Sans' ;		
}
.boatTekstas

.boat p:last-child {
        color: #ffffff;	
}
.boat h1 {
        font-size: 55px;	
}
.boat h1, p {
        max-width: 500px;
}
.boat a:hover {
        color: #ffbaba;	 
}
.boat a {
        color: white;	 
}

.zalias {
    background-color: #82ca9c;	
}
.zalias h2 {
        padding-top: 20px;
}

.zaliotekstas {
    list-style-type: none;
    margin-bottom: 35px;
    padding: 50px 0px 0px 0px;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;		
}
.zaliotekstas div {
    padding-left: 2em;
}


.blokai {
    display: flex;
	align-items: center;
	padding: 2em;	
}

.blokas .legacy {
    background-color: rgba(0, 0, 0, 0.2);
	max-width: 90px;
	padding: 10px;
	border-radius: 6px;		
}


/* Section-7 Styles */
.section-7 {
    padding: 10px 40px 10px 40px ;
    background: #f6f7fa;
}
.section-7 span {
    color: #8297a7;
    display: none;
    font-size:11.5px;    
}
.section-7 .row {
    position: relative;
    display: flex;
    padding: 10px;
}
.section-7 .row h5 {
    position: absolute;
    top: 6em;
    left: -24em;
    transform: rotate(270deg);
    text-transform: uppercase;
}
.centras {
    margin: 0 auto;
    padding-left: 7%;
}
.section-7 .row h5 a {
    color: #8297a7;
}
.section-7 .sty {
    margin: 0 auto;
    padding: 2em;
    max-width: 500px;
    width: 100%;
}
.section-7 .sty button {
    text-transform: uppercase;
    color: #fff;
    border: none;
    outline: none;
    transition: all .3s;
}
.section-7 .sty button:hover {
	transform: scale(1.2);
}
.section-7 .sty .status {
    padding: 0.3em 1.2em;
    font-weight: 800;
    font-size: 0.6875em;
    letter-spacing: 0.1em;
    background: #e1e1e1;
    border-radius: 5px;
}
.section-7 .sty .content {
    padding: 1.5em 0;
}
.section-7 .sty .content h3 {
    color: #2e3b4e;
}
.section-7 .sty .content p {
    padding-top: 1.5em;
    color: #8297a7;
}
.section-7 .sty .buy-now {
    padding: 1.35em 2.15em;
    margin-bottom: 1.5em;
    font-weight: 700;
    font-size: 0.75em;
    letter-spacing: 0.2em;
    background: #82ca9c;
    border-radius: 3px;
}

.section-7 .sty img {
    width: 1.5625em;
    height: 1.5625em;
    margin-right: 0.5em;
    text-align: center;
}
.section-7 .sty:last-of-type .buy-now {
    padding: 1.35em 1.75em;
}
.section-7 .sty:hover {
    background: #fff;
    box-shadow: 0 0 50px #d6d6d6;
}
.section-7 .sty:hover .status {
    background: #bd8cbf;
}
.section-7 .sty:hover h3 {
    font-weight: 400;
}
.icons {
    font-size: 25px;
}
.icons:hover {list-style-image: none;
    text-decoration: none;
}
/* Footer */
footer .row {
    display: flex;
}
footer { 
    padding: 6.35% 5% 7.3% 10%;
    color: #fff;
    background: #192431;
}
footer h4 {
  padding-bottom: 1em;
}
footer .col-6:last-child {
  padding-left: 9%;
}
footer .col-6:last-child form {
  position: relative;
  width: 30.38em;
  height: 2.625em;
  margin-top: 0.4em;
  overflow: hidden;
  border-radius: 6px;

}
footer .col-6:last-child form input {
  position: relative;
  height: 100%;
  vertical-align: middle;
  border: none;
  outline: none;
}
#input_email {
  margin: 0px;
}
footer .col-6:last-child form input[type=email] {
  width: 26.25em;
  padding-left: 0.9em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  color: #192431;
}
footer .col-6:last-child form input[type=submit]:hover {
  opacity: .1;
  cursor: pointer;
}
footer .col-6:last-child form .tick {
  position: absolute;
  bottom: -1.4em;
  right: -1.5em;
  padding: 35px;
  text-align: center;
  vertical-align: middle;
  transform: rotate(135deg);
  background: #82ca9c;
  z-index: 10;
}
#input_email {
    font-size: 14px;
    height: 39px
}
footer .col-6:last-child form .tick span {
  display: block;
  width: 35px;
  height: 15px;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
}
footer .col-6:last-child p {
  padding-top: 1.5em;
  line-height: 125%;
  font-size: 0.75em;
  color: #57697f;
}
footer .col-2 a {
  font-weight: 400;
  font-size: 0.8125em;
  color: #fff;    
}
.footerApacia {
    padding-left: 30px;
    padding-right: 30px;
}
footer li {
    list-style-type: none;
}
footer .row .col-2 {
    align-items: flex-start;
}


@media screen and (max-width: 1100px) {
  .mazas { max-width: 550px;
  }
}

@media screen and (max-width: 980px) {
  .mazas { max-width: 470px;
  }
}
@media screen and (max-width: 900px) {
  .iphone { right:  30px; 
  }
}

@media screen and (max-width: 810px) { 
  .iphone {display: none;
  }
  .headerBackground { 
    background-size: cover;
    background-position: center;
  }
  .mazas {
      padding-top: 100px;
      max-width: 650px;
  }

.fonas {
      height: 30em;
}
 .antras {
        max-width: 1000px;
        display: inline
}
.antras p {
        max-width: 800px;
        margin-bottom: 15px;
        padding: 0px 20px 0px 20px;
}
.antras h2 {
        padding-bottom: 20px;
        padding-top: 30px;
}
.langai {
        flex-direction: column;
        margin: 0 auto;
        min-width: 350px;
 }
 }

@media screen and (max-width: 765px) { 
 .mazas {
        max-width: 550px;
}
.langeliai {  
        flex-direction: column;
        justify-content: space-between;  
}
.langeliai div {
        width: 90%;
        max-height: 160px;
}
.langeliai2 {  
        flex-direction: column;
        justify-content: space-between;  
}
 .langeliai2 div {
        width: 90%;
        max-height: 160px; 
}
.langeliai3 {
     flex-direction: column;
}
.zaliotekstas {
        flex-direction: column;
}    
 .footerVisas {
        flex-direction: column;
}
.footerApacia {
        padding-left: 20px;
        padding-right: 20px;
}}
@media only screen and (max-width: 560px) {    
.mazas {max-width: 450px;
    }        
    
label {
             font-size: 10px;
}
.eilute {max-width: 320px
    }
}
@media only screen and (max-width: 430px) {
 .eilute {max-width: 290px}
.eilute {right: 15px;}
.mazas {max-width: 350px;}
.section-7 p {
         display: none;
     }
.section-7 span {
     color: #8297a7;
         display: inline;
    
    }
}